@keyframes slider {
    from {
        width: 0;
    }
    to {
        width: 60vh;
    }
}

@keyframes text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

p {
    margin: 0;
}

.wrapperForBottom {
    display: flex;
    width: 80%;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2%;
}

.wrapperForDesc {
    width: 70%;
}

.slider-container, .wrapper, .wrapperForBottom {
    margin-left: auto;
    margin-right: auto;
}

.slider-container {
    max-width: 1024px;
}

.wrapper {
    width: 80%;
    min-height: 70vh;
    text-align: center;
    background-color: #bc809b;
    position: static;
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
    box-shadow: 0px 4px 8px 5px rgba(34, 60, 80, 0.2);
}

input {
    display: none;
}

label {
    padding: 10% 5%;
    cursor: pointer;
}

.label {
    display: block;
    cursor: pointer;
    width: .5em;
    height: .5em;
    /* margin: 1% 0.5% 1% 0.5%; */
    background-color: #4ddcd3;
    border-radius: 50%;
    border: 2px solid #eb0ed1;
    transition: .3s ease-in-out;
}

.buttons {
    display: flex;
    justify-content: center;
}

/* img {
    width: 60vh;
} */

p {
    width: 100%;
    font-size: 1.8em;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5 {
    width: 0;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.container-desc-1,
.container-desc-2,
.container-desc-3,
.container-desc-4,
.container-desc-5 {
    opacity: 0;
    display: none;
    /* width: 70%; */
}

#slide_1:checked ~ * .img-1,
#slide_2:checked ~ * .img-2,
#slide_3:checked ~ * .img-3,
#slide_4:checked ~ * .img-4,
#slide_5:checked ~ * .img-5 {
    animation: slider 1s ease-in forwards;
    display: block;
}

#slide_1:checked ~ * .wrapper {
    background-color: #ffffff;;
}

#slide_2:checked ~ * .wrapper {
    background-color: #558334;
    ;
}

#slide_3:checked ~ * .wrapper {
    background-color: #1a272f;
    ;
}

#slide_4:checked ~ * .wrapper {
    background-color: #1f231b;
    ;
}

#slide_5:checked ~ * .wrapper {
    background-color: #eaf6f2;
    ;
}

.label:hover, label:hover > .label {
    background-color: #eb0ed1;
}

.label:active,
label:active>.label {
    border-color: #eaf6f2;
}

#slide_1:checked~* .label-1,
#slide_2:checked~* .label-2,
#slide_3:checked~* .label-3,
#slide_4:checked~* .label-4,
#slide_5:checked~* .label-5 {
    background-color: #eb0ed1;
}



/* #slide_1:checked ~ .img-1,
#slide_1:checked ~ * .img-1 {
    animation: slider 1s ease-in forwards;
    display: block;
} */

#slide_1:checked ~ * .container-desc-1,
#slide_2:checked ~ * .container-desc-2,
#slide_3:checked ~ * .container-desc-3,
#slide_4:checked ~ * .container-desc-4,
#slide_5:checked ~ * .container-desc-5 {
    animation: text 1s ease-in forwards;
    display: block;
}